body {
    margin: 20px;
   
    font-family: gill sans;
}

.avatar {
    width: 150px;
}

.card {
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    justify-content: space-around;
    text-align: center;
    background: #c77dff;
    color: #000000;
    border-bottom: 6px solid #370617;
     border-top: 6px solid #370617; 
     text-shadow: 2px 2px #e2711d;   
     
    /*
    Challenge:
    Find a color palette you like on Coolors.co
    and use it in your business card.
     */
}
.border blue{
    border:2px solid red;
}




